boto3==1.26.25
deepdiff==4.0.7
fastapi==0.68.0
gunicorn==19.9.0
jsondiff==2.0.0
mangum==0.12.3
motor==2.2.0
mysql-connector-python==8.0.27
pandas==1.5.2
pymongo[srv]
pytest==6.2.5
redis-om==0.1.0
requests==2.27.1
sqlalchemy==1.4.27
stripe==2.65.0
uvicorn==0.15.0
